flow.json
[
    {
        "id": "1fd03a1668bf9815",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f9923e6c3ca5b1fd",
        "type": "tab",
        "label": "Flow 11",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e7d05e844fc0b5a",
        "type": "tab",
        "label": "Flow 12",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "98fe79cd0741e3e5",
        "type": "tab",
        "label": "Flow 13",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "17c1db2d45ef187e",
        "type": "tab",
        "label": "Flow 14",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3bcd2231de233680",
        "type": "tab",
        "label": "Flow 15",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6d5ef2bc9dfabc01",
        "type": "tab",
        "label": "Flow 16",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "25ed5ece528b701b",
        "type": "tab",
        "label": "Flow 17",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c254251c2f9a4be3",
        "type": "debug",
        "z": "1fd03a1668bf9815",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 160,
        "wires": []
    },
    {
        "id": "663d1c46ae09b9bd",
        "type": "inject",
        "z": "1fd03a1668bf9815",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 400,
        "wires": [
            [
                "c254251c2f9a4be3"
            ]
        ]
    },
    {
        "id": "d11e968f9111599c",
        "type": "yaml",
        "z": "f9923e6c3ca5b1fd",
        "property": "payload",
        "name": "",
        "x": 350,
        "y": 80,
        "wires": [
            [
                "1a19e2cafa6be5bd"
            ]
        ]
    },
    {
        "id": "1a19e2cafa6be5bd",
        "type": "file",
        "z": "f9923e6c3ca5b1fd",
        "name": "",
        "filename": "",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 560,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "72aabf1642555f97",
        "type": "watch",
        "z": "f9923e6c3ca5b1fd",
        "name": "",
        "files": "",
        "recursive": "",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "d11e968f9111599c"
            ]
        ]
    },
    {
        "id": "ee4a4328e0037b99",
        "type": "ui_button",
        "z": "9e7d05e844fc0b5a",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 60,
        "wires": [
            [
                "913049cf61845b0f"
            ]
        ]
    },
    {
        "id": "913049cf61845b0f",
        "type": "ui_dropdown",
        "z": "9e7d05e844fc0b5a",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "value": "",
                "label": ""
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 500,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "b03352672238b8d1",
        "type": "ui_text",
        "z": "98fe79cd0741e3e5",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 120,
        "wires": []
    },
    {
        "id": "737b322b171d14bb",
        "type": "ui_chart",
        "z": "98fe79cd0741e3e5",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 250,
        "y": 120,
        "wires": [
            [
                "b03352672238b8d1"
            ]
        ]
    },
    {
        "id": "ed329ce52d04fd3e",
        "type": "rpi-gpio in",
        "z": "98fe79cd0741e3e5",
        "name": "",
        "pin": "",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 430,
        "y": 260,
        "wires": [
            [
                "de702309d1d70d63"
            ]
        ]
    },
    {
        "id": "de702309d1d70d63",
        "type": "rpi-gpio out",
        "z": "98fe79cd0741e3e5",
        "name": "",
        "pin": "",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 610,
        "y": 320,
        "wires": []
    },
    {
        "id": "45fefa08113ff5d0",
        "type": "ui_audio",
        "z": "17c1db2d45ef187e",
        "name": "",
        "voice": "",
        "always": "",
        "x": 460,
        "y": 160,
        "wires": []
    },
    {
        "id": "4a05464140b75da8",
        "type": "ui_chart",
        "z": "17c1db2d45ef187e",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "45fefa08113ff5d0"
            ]
        ]
    },
    {
        "id": "6d9304071cf25785",
        "type": "csv",
        "z": "17c1db2d45ef187e",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "45fefa08113ff5d0"
            ]
        ]
    },
    {
        "id": "2965f821552f2528",
        "type": "link in",
        "z": "6d5ef2bc9dfabc01",
        "name": "link in 1",
        "links": [],
        "x": 195,
        "y": 140,
        "wires": [
            [
                "d9cadc38627b4fa8"
            ]
        ]
    },
    {
        "id": "d9cadc38627b4fa8",
        "type": "link call",
        "z": "6d5ef2bc9dfabc01",
        "name": "",
        "links": [],
        "linkType": "static",
        "timeout": "30",
        "x": 390,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "4de3457e269d9935",
        "type": "switch",
        "z": "25ed5ece528b701b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 360,
        "wires": [
            [
                "b35a08d656d915b3"
            ]
        ]
    },
    {
        "id": "b35a08d656d915b3",
        "type": "switch",
        "z": "25ed5ece528b701b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 300,
        "wires": [
            [
                "a779a6ee4f55e625"
            ]
        ]
    },
    {
        "id": "a779a6ee4f55e625",
        "type": "switch",
        "z": "25ed5ece528b701b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 140,
        "wires": [
            []
        ]
    }
]